.img {
  width: 80%;
  /* flex-direction: column; */
}

.adminContainer {
  justify-items: center;
  justify-content: center;
  /* display: flex; */
  padding: 50px 55px;
}

.title {
  /* margin:5px 50% */
  /* flex-direction: column; */
  font-weight: bold;
}

.panel {
  flex-direction: row;
  width: 450px;
  height: 450px;
  margin: 10px;
  border-radius: 25px;
  box-shadow: -3px -3px 5px #ffffff70, 3px 3px 15px #00000070; /*for top left side x axis and y axis and blur radius and color, and another for black and 70  is alpha value of color */
  cursor: pointer;
  justify-content: center;
}
.panel:hover {
  box-shadow: inset -3px -3px 5px #ffffff70, inset 3px 3px 15px #00000070;
}
